* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    
    background: #f9edff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 900px;
    height: 520px;
    background: #5d427e;
    border-radius: 30px;
    padding: 20px;
}

.illustration {
    flex: 1;
    border-radius: 20px;
    background-image: url("image1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.form-box {
    flex: 1;
    background: #fff;
    border-radius: 24px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.logo {
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    font-size: 14px;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #9769c9;
  color: #fff;
  font-size: 15px;
  cursor: pointer;

}

button:hover {
  background: #cc9be4;
}

.divider {
  text-align: center;
  margin: 18px 0;
  font-size: 13px;
  color: #777;
}

.social-login {
  display: flex;
  justify-content: space-between;
}

.social-login button {
  width: 30%;
  background: #f3f3f3;
  color: #333;
}

.terms,
.login-link {
  font-size: 12px;
  text-align: center;
  margin-top: 14px;
}

a {
  color: #a577ef;
  text-decoration: none;
}